<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Eadesigndev_Awb>
            <version>1.0.7</version>
        </Eadesigndev_Awb>
    </modules>
    <global>
        <helpers>
            <awb>
                <class>Eadesigndev_Awb_Helper</class>
            </awb>
        </helpers>
        <blocks>
            <awb>
                <class>Eadesigndev_Awb_Block</class>
            </awb>
        </blocks>
        <models>
            <awb>
                <class>Eadesigndev_Awb_Model</class>
                <resourceModel>awb_mysql4</resourceModel>
            </awb>
            <awbcity>
                <class>Eadesigndev_Awb_Model</class>
                <resourceModel>awbcity_mysql4</resourceModel>
            </awbcity>
            <awb_mysql4>
                <class>Eadesigndev_Awb_Model_Mysql4</class>
                <entities>
                    <awb>
                        <table>eadesigndev_awb</table>
                    </awb>
                    <awbcity>
                        <table>directory_country_region_city</table>
                    </awbcity>
                </entities>
            </awb_mysql4>
        </models>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_button_ship>
                        <type>model</type>
                        <class>awb/observer</class>
                        <method>addButtonShip</method>
                    </add_button_ship>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <resources>
            <eadsign_awb_setup>
                <setup>
                    <module>Eadesigndev_Awb</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </eadsign_awb_setup>
            <awb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awb_write>
            <awb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awb_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <eadesigndev_awb>
                        <class>awb/eacore_observer</class>
                        <method>preDispatch</method>
                    </eadesigndev_awb>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <awbs module="Eadesigndev_Awb">
                    <file>awb/awb.xml</file>
                </awbs>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awbopt>
                                            <title>EaDesign AWB</title>
                                        </awbopt>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <awbadmin>
                <use>admin</use>
                <args>
                    <module>Eadesigndev_Awb</module>
                    <frontName>awbadmin</frontName>
                </args>
            </awbadmin>
        </routers>
    </admin>
</config>